<h1>{{bird.name}}</h1>

<div class="bird-info">
    <h2>Bird Information</h2>

    <form method="POST" action="/editBird">

    <!--clicking edit beside each field will show paired edit_class to let the user edit the field-->
    <h3>Description</h3>
    <p>{{bird.description}}
        <input class='edit-description' name="description" hidden>
        <span class="edit-description">edit</span></p>

    <h3>Average Height</h3>
    <p>{{bird.height}}
        <input class="edit-height" name="height" type="number" min="1" max="300" hidden>
        {{#if bird.height}} cm{{/if}}   <!-- display cm only if there is bird.height. Otherwise
                                            it will be an awkward cm only without accompanied number -->
        <span class="edit-height">edit</span></p>

    <h3>Average Eggs Laid</h3>
    <p>{{bird.averageEggs}}
        <input class="edit-averageEggs" name="averageEggs" type="number" min='1' max='50' hidden>
        {{#if bird.averageEggs}} eggs{{/if}} <!-- display eggs only if there is bird.averageEggs. Otherwise
                                                    it will be an awkward 'eggs' without accompanied number -->
        <span class="edit-averageEggs">edit</span></p>

    <h3>Conservation Status</h3>
        <input type="hidden" name="_endangered" value="{{bird.endangered}}">
    {{#if bird.endangered}}
        <p>{{bird.name}} is endangered</p>
    {{else}}
        <p>{{bird.name}} is not endangered</p>
    {{/if}}
        <div class="edit-endangered" hidden>Endangered?
            <input name="endangered" value="true" type="checkbox">
        </div>
        <span class="edit-endangered">edit</span>

    <h3>Nest Information</h3>
    <p>Location: {{bird.nest.location}}
        <input class="edit-nestLocation" name="nestLocation" style="display: none">
        <span class="edit-nestLocation">edit</span></p>

    <p>Materials: {{bird.nest.materials}}
        <input class="edit-nestMaterials" name="nestMaterials"hidden>
        <span class="edit-nestMaterials">edit</span></p>

        <input type="hidden" name="_id" value={{bird._id}}>
        <button id='edit-submit-button' type="submit" style="display: none;">Edit</button>

    </form>     <!-- end of editBird form-->

</div>      <!-- end of bird-info -->

<div class="sighting-dates">
    <h2>Bird Sighting</h2>

    <div class="new-sighting-form">

        <h3>Report a new sighting</h3>

        <form method="POST" action="/addSighting">
            <p id="display-coordinates"></p><button id="get-coordinates" type="button">Get Coordinate</button><br>
            Sighting date: <input type="datetime-local" name="date" required>
            <input type="hidden" name="_id" value={{bird._id}}>
            <input id='latitude' type="hidden" name="latitude">
            <input id='longitude' type="hidden" name="longitude">
            <button id='sighting-submit-button' type=submit style="display:none;">Submit Sighting</button>
        </form>

    <div class="flash-errors">
      {{#if messages}}
        <p class="error-message">{{messages.error}}</p>
      {{/if}}
    </div>

    </div>

    <div class="sighting-list">

        <p>Number of sightings: {{length bird.datesSeen}}</p>

        <h3>All sighting dates</h3>
        {{#each bird.datesSeen}}
          <p>{{formatDate this.date}} coordinates:{{this.coordinates.latitude}}, {{this.coordinates.longitude}}</p>
        {{else}}
          <p>No sightings for {{bird.name}}</p>
        {{/each}}
    </div>

    <div id="map"></div>

    <form class="delete-form" action="/delete" method="POST">
        <input class="delete-button" type="submit" name="delete" value="Delete">
        <input type="hidden" name="_id" value="{{bird._id}}">
    </form>

</div>

<hr>
<p><a href='/'>Back to Home</a></p>

<!--delete button confirm and edit form reveal scripts-->
<script src="/javascripts/delete.js"></script>
<script src="/javascripts/edit_bird.js"></script>
<script src="/javascripts/location.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAR6bJEPiwWXRKjwv1sym7L8ca-FdRr8D0&callback=initMap"
        type="text/javascript"></script>

<!--map script-->
<script>
    // add map coordinates
    var markers = [];
    {{#each bird.datesSeen}}
        markers.push({lat:{{this.coordinates.latitude}}, lng:{{this.coordinates.longitude}} });
    {{/each}}

    function initMap() {
        //The mapDiv is the HTML element that will hold the map
        var mapDiv = document.getElementById("map");
        //Set three required options to display the map
        //Other options such as preventing scrolling or zooming, are available
        var mapOptions = {
            center: {lat: 45, lng: -93.16},   // Lat and long to center the map
            zoom: 10,                                   // 0 = the whole world, 22 = max zoom in
        };
        var map = new google.maps.Map(mapDiv, mapOptions);
        for (marker in markers) {
            new google.maps.Marker({
                position: {lat: markers[marker]['lat'], lng: markers[marker]['lng']},
                map: map,
                draggable: false,               //No moving the marker!,
                title: ''
            });
        }
    }
</script>