<h1>Bird Sightings</h1>

<div class="new-bird">
  <h2>Add a New Bird</h2>

  <form method="POST" action="/addBird">

    <table>
        <tr>
            <td> Name:</td><td><input name="name" required></td>
        </tr>
        <tr>
            <td> Description:</td><td><input name="name" required></td>
        </tr>
        <tr>
            <td> Average Height:</td><td><input name="height" type="number" min="1" max="300"> cm</td>
        </tr>
        <tr>
            <td> Average Eggs:</td><td><input name="averageEggs" type="number" min='1' max='50'> eggs</td>
        </tr>
        <tr>
            <td> Endangered? </td><td><input name="endangered" value="true" type="checkbox"></td>
        </tr>
        <tr>
            <td> Nest Materials:</td><td><input name="nestMaterials" required></td>
        </tr>
        <tr>
            <td> Nest Location:</td><td><input name="nestLocation"></td>
        </tr>
        <tr>
            <td colspan="2"><button type="submit">Submit</button></td>
        </tr>
    </table>
  </form>

  <div class='flash-errors'>
    {{#if messages}}
      <p class="error-message">{{messages.error}}</p>
    {{/if}}

  </div>
</div>

<div class="bird-name-list">
  <h2>Bird List</h2>

  {{#each birds}}
    <h3>{{this.name}}</h3>
    <p><a href="/bird/{{this.id}}">{{this.name}} info and sightings</a></p>
    <p>Description: {{this.description}}</p>
  {{else}}
    <p>No birds in the database</p>
  {{/each}}
</div>
